version: "3"
services:
  
  ## Media Interfaces
  # Plex Server
  plex:
    image: linuxserver/plex:latest
    container_name: plex
    hostname: plex
    volumes:
      - ${BASE_DIR}/plex/config:/config
      - ${MEDIA_DIR}/TV:/data/tv
      - ${MEDIA_DIR}/Movies:/data/movies
      - ${MEDIA_DIR}/Music:/data/music
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=plex
      - traefik.frontend.rule=Host:plex.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=32400
    networks:
      - internal
      - proxied
    ports:
      - 32400:32400
      - 32400:32400/udp
      - 32469:32469
      - 32469:32469/udp
      - 3005:3005
      - 8324:8324
      - 1900:1900/udp
      - 5353:5353/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    restart: always
  
  # Ubooquity
  ubooquity:
    image: linuxserver/ubooquity:latest
    container_name: ubooquity
    volumes:
      - ${BASE_DIR}/ubooquity/config:/config
      - ${MEDIA_DIR}/Books:/books
      - ${MEDIA_DIR}/Comics:/comics
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=ubooquity
      - traefik.frontend.rule=Host:ubooquity.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=2202
    networks:
      - internal
      - proxied
    ports:
      - 8160:2202
      - 8161:2203
    restart: always

  ## /Media Interfaces

  ## Downloaders
  # sabNZBd
  sabnzbd:
    image: linuxserver/sabnzbd:latest
    container_name: sabnzbd
    volumes:
      - ${BASE_DIR}/sabnzbd/config:/config
      - ${BASE_DIR}/sabnzbd/downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=sabnzbd
      - traefik.frontend.rule=Host:sab.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=8080
    networks:
      - internal
      - proxied
    expose:
      - 8080
    restart: always

# NZBHydra
  hydra:
    image: linuxserver/hydra:latest
    container_name: hydra
    volumes:
      - ${BASE_DIR}/hydra/config:/config
      - ${BASE_DIR}/hydra/nzb:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=hydra
      - traefik.frontend.rule=Host:hydra.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=5075
    networks:
      - internal
      - proxied
    expose:
      - 5075
    restart: always

  jackett:
    image: linuxserver/jackett:latest
    container_name: jackett
    volumes:
      - ${BASE_DIR}/jackett/config:/config
      - ${BASE_DIR}/jackett/blackhole:/downloads
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=jackett
      - traefik.frontend.rule=Host:jackett.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=9117
    networks:
      - internal
      - proxied
    expose:
      - 9117
    restart: always
  ## / Downloaders

  ## Searchers
  # Sonarr
  sonarr:
    image: linuxserver/sonarr:latest
    container_name: sonarr
    volumes: 
      - ${BASE_DIR}/sonarr/config:/config
      - ${MEDIA_DIR}/TV:/tv
      - ${BASE_DIR}/sabnzbd/downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=sonarr
      - traefik.frontend.rule=Host:sonarr.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=8989
    networks:
      - internal
      - proxied
    expose:
      - 8989
    restart: always

  # Radarr
  radarr:
    image: linuxserver/radarr:latest
    container_name: radarr
    volumes:
      - ${BASE_DIR}/radarr/config:/config
      - ${MEDIA_DIR}/Movies:/movies
      - ${BASE_DIR}/sabnzbd/downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=radarr
      - traefik.frontend.rule=Host:radarr.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=7878
    networks:
      - internal
      - proxied
    expose:
      - 7878
    restart: always

  # Headphones
  headphones:
    image: linuxserver/headphones:latest
    container_name: headphones
    volumes: 
      - ${BASE_DIR}/headphones/config:/config
      - ${MEDIA_DIR}/Music:/music
      - ${BASE_DIR}/sabnzbd/downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=headphones
      - traefik.frontend.rule=Host:headphones.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=8181
    networks:
      - internal
      - proxied
    expose:
      - 8181
    restart: always

  # LazyLibrarian
  lazylibrarian:
    image: linuxserver/lazylibrarian:latest
    container_name: lazylibrarian
    volumes:
      - ${BASE_DIR}/lazylibrarian/config:/config
      - ${MEDIA_DIR}/Books:/books
      - ${BASE_DIR}/sabnzbd/downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=lazylibrarian
      - traefik.frontend.rule=Host:librarian.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=5299
    networks:
      - internal
      - proxied
    expose:
      - 5299
    restart: always

  # Mylar
  mylar:
    image: linuxserver/mylar:latest
    container_name: mylar
    volumes:
      - ${BASE_DIR}/mylar/config:/config
      - ${MEDIA_DIR}/Comics:/comics
      - ${BASE_DIR}/sabnzbd/downloads:/downloads
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=mylar
      - traefik.frontend.rule=Host:mylar.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=8090
    networks:
      - internal
      - proxied
    expose:
      - 8090
    restart: always
  ## /Searchers

  ## Helper Apps
  # Heimdall
  heimdall:
    image: linuxserver/heimdall:latest
    container_name: heimdall
    volumes:
      - ${BASE_DIR}/heimdall/config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=heimdall
      - traefik.frontend.rule=Host:heimdall.${DOMAIN}
      - traefik.docker.network=proxied
    networks:
      - internal
      - proxied
    expose:
      - 80
      - 443
    restart: always

  # Tautulli
  tautulli:
    image: tautulli/tautulli:latest
    container_name: tautulli
    volumes:
      - ${BASE_DIR}/tautulli/config:/config
      - ${BASE_DIR}/plex/config/Library/Application\ Support/Plex\ Media\ Server/Logs:/logs:ro
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=tautulli
      - traefik.frontend.rule=Host:tautulli.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=8181
    networks:
      - proxied
      - internal
    expose:
      - 8181
    depends_on:
      - plex    
    restart: always

  # Ombi
  ombi:
    image: linuxserver/ombi:latest
    container_name: ombi
    volumes:
      - ${BASE_DIR}/ombi/config:/config
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
    labels:
      - traefik.backend=ombi
      - traefik.frontend.rule=Host:ombi.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=3579
    networks:
      - proxied
      - internal
    expose:
      - 3579
    depends_on:
      - plex
    restart: always
  ## /Helper Apps

  ## Torrenting over VPN
  # Transmission - OpenVPN
  transmission:
    image: haugene/transmission-openvpn:latest
    container_name: transmission
    volumes:
      - ${BASE_DIR}/transmission:/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TIMEZONE}
      - OPENVPN_PROVIDER=${VPN_PROVIDER}
      - OPENVPN_USERNAME=${VPN_USER}
      - OPENVPN_PASSWORD=${VPN_PASS}
      - OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
      - TRANSMISSION_RPC_HOST_WHITELIST=*.${DOMAIN}
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    networks:
      - vpn
    expose:
      - 9091
    restart: always

  vpn_proxy:
    image: haugene/transmission-openvpn-proxy:latest
    container_name: vpn_proxy
    depends_on:
      - transmission
    links:
      - transmission:transmission
    labels:
      - traefik.backend=vpn_proxy
      - traefik.frontend.rule=Host:transmission.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=8080
    networks:
      - vpn
      - proxied
    expose:
      - 8080
    restart: always
  ## /Torrenting over VPN
  
  ## Traefik Proxy
  # Traefik
  traefik:
    image: traefik:latest
    container_name: traefik
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${BASE_DIR}/traefik/traefik.toml:/traefik.toml
      - ${BASE_DIR}/traefik/acme.json:/acme.json
    labels:
      - traefik.backend=traefik
      - traefik.frontend.rule=Host:traefik.${DOMAIN}
      - traefik.docker.network=proxied
      - traefik.port=8080
    networks:
      - proxied
      - internal
    ports:
      - 80:80
      - 443:443
    expose:
      - 8080
    command:
      - --docker
    restart: always

  ## /Traefik Proxy

# Networking config
networks:
  vpn:
  internal:
    external: false
  proxied:
    external: true
